@import url('/style.css');

.filter-value {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

nav {
    grid-area: header;
}

.filters {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    grid-area: filters;
}

.filter {
    accent-color: var(--cta);
}

.filter-wrapper>h3 {
    margin: 0;
}

.vertical-card {
    display: flex;
    flex-direction: column;
    max-width: 14rem;
    border: 2px var(--border);
    box-shadow: var(--shadow);
    border-radius: 0.3rem;
    margin: 1rem;
}

.btn-cta-verticl {
    font-size: 0.5rem;
    display: inline-block;
}

.btn-cta-outlined-vertical {
    font-size: 1rem;
    background-color: var(--white);
    color: var(--cta);
    border: none;
    box-shadow: var(--shadow);
    border-radius: 0.2rem;
    padding: 0;
    width: 80%;
    margin-left: 1rem;
    padding: 0.3rem;
}

.btn-cta {
    margin: 0rem;
    border: none;
    width: 80%;
}

.btn-cta-vertical {
    width: 100%;
    font-size: 1.5rem;
    display: inline-block;
    background-color: var(--cta);
    color: var(--white);
    border: none;
    border-radius: 0.2rem;

}



.product-listing {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 1rem;
    grid-area: listing;
}

body {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: min-content max-content;
    grid-template-areas:
        'header header'
        'filters listing';
}





@media (max-width: 1100px) {
    /* Tablets */
    html{
        font-size: 75%;
    }
    .search-bar{
        display: none;
    }
}

@media (max-width: 550px) {

    /* Phones */
    html{
        font-size: 62.5%;
    }
    body {
        
       
        grid-template-areas:
            'header header'
            'listing listing';
    }

    .filters {
        display: none;
    }
    .product-listing {
        margin: 1rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        grid-area: listing;
        place-items: center;
    }
}